/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.navbar h1 {
  flex-grow: 1;
  margin: 0;
}

.navimg {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.donationbtn {
  border: none;
  background: none;
}

/* Game Setup Styles */
#setup-game {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#setup-game > div {
  margin: 0 20px;
}

/* Board and Tiles Styles */
#board {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 5px;
  padding: 20px;
  justify-content: center;
}

.tile {
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.bottomBorder {
  border-bottom: 2px solid #333;
}

.selected {
  background-color: #dcdcdc;
}

.incorrect {
  background-color: #ffcccc;
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar h1, .imagediv img {
    display: none; /* Hide on smaller screens */
  }

  #setup-game {
    flex-direction: column;
    align-items: center;
  }

  #setup-game > div {
    margin: 10px 0;
  }

  #board {
    grid-template-columns: repeat(8, 1fr); /* Adjust grid for smaller screens */
  }

  .tile {
    height: 40px; /* Smaller tiles on smaller screens */
  }
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: start;
  }

  #board {
    grid-template-columns: repeat(5, 1fr); /* Further adjust grid for very small screens */
  }
}
